@model WebApplication6.Models.UserMetric

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>UserMetric</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class ="form-control" asp-items="ViewBag.UserID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TotalBlogPosts" class="control-label"></label>
                <input asp-for="TotalBlogPosts" class="form-control" />
                <span asp-validation-for="TotalBlogPosts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalUpvotes" class="control-label"></label>
                <input asp-for="TotalUpvotes" class="form-control" />
                <span asp-validation-for="TotalUpvotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalDownvotes" class="control-label"></label>
                <input asp-for="TotalDownvotes" class="form-control" />
                <span asp-validation-for="TotalDownvotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalComments" class="control-label"></label>
                <input asp-for="TotalComments" class="form-control" />
                <span asp-validation-for="TotalComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
